@using WMS.Common.Contract
@using WMS.Common.Utility
@using WMS.Common.Web.Controls
@using WMS.Account.Contract
@using WMS.Core.Config
@using WMS.Web;

@model PagedList<UserClassInfo>
<script src="/Scripts/zj.admin.common.js"></script>
@*@using (Html.BeginForm("Delete", "User", FormMethod.Post, new { id = "mainForm" }))
{*@
    <table class="table table-striped table-bordered table-hover" id="usertable">
    <thead>
        <tr>
            <th style="width: 8px;">
                @*<input type="checkbox" id="checkall" class="group-checkable" />*@

                <label>
                    <input type="checkbox" class="ace" id="checkall" />
                    <span class="lbl"></span>
                </label>

            </th>
            <th style="width: 50px; text-align:center;">
                序号
            </th>
            <th>
                登录账号 @*<span style="float:right; width:30px; text-align:right;"><a href="@this.Request.Url&OrderAsc=00">↓</a>↑</span>*@
            </th>
            <th>
                姓名（昵称）
            </th>
            <th>
                电话
            </th>
            <th>
                公司
            </th>
            <th>
                部门
            </th>
            <th>
                岗位
            </th>
            <th>
                启用
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null){ 
            var n=(Model.CurrentPageIndex-1)*Model.PageSize; 
            foreach (var m in Model)
        {
            <tr>
                <td style="vertical-align:middle;">
                    @*<input type="checkbox" class="checkboxes ace" name='ids' value='@m.UserId' />*@
                    <label>
                        <input type="checkbox" class="ace" name="ids" value="@m.UserId" />
                        <span class="lbl"></span>
                    </label>

                </td>
                <td style="text-align:center;">
                   @(++n)
                </td>
                <td>
                    @m.LoginAccount
                </td>
                <td>
                    @m.NickName
                </td>
                <td>
                    @m.Mobile
                </td>
                <td>
                    @m.EnterpriseName
                </td>
                <td>
                    @m.DepartmentName
                </td>
                <td>
                        @m.PostName
                </td>
                <td style="text-align:center;">
                    @*<span class="label label-@(m.Status.Equals(0)  ? "success" : "inverse")">@(m.Status.Equals(0)?"启用":"禁用")</span>*@
                    <label onclick="checkUserStatus(@m.UserId,'/Sys/User/Check',this);">
                        <input id="id-button-borders" @(m.Status.Equals(0) ? "checked" : "") type="checkbox" class="ace ace-switch ace-switch-5" />
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>
                    @*<a class="btn mini purple thickbox" title='编辑用户资料' href="@Url.Action("Edit", new { id = m.UserId })?TB_iframe=true&height=350&width=500">
                            <i class="icon-edit"></i>
                            编辑
                        </a>*@


                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                        <a class="blue" href="#">
                            <i class="icon-key bigger-130"></i>
                        </a>

                        <a class="green" href="#">
                            <i class="icon-pencil bigger-130"></i>
                        </a>

                        <a class="red" href="#" onclick="deleteInfo(@m.UserId,'/Sys/User/Delete',this);">
                            <i class="icon-trash bigger-130"></i>
                        </a>
                    </div>

                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <div class="inline position-relative">
                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-caret-down icon-only bigger-120"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                <li>
                                    <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                        <span class="blue">
                                            <i class="icon-zoom-in bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                        <span class="green">
                                            <i class="icon-edit bigger-120"></i>
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="tooltip-error" data-rel="tooltip" title="删除" onclick="deleteInfo(@m.UserId,'/Sys/User/Delete',this);">
                                        <span class="red">
                                            <i class="icon-trash bigger-120"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </td>
            </tr>
        }
        }
    </tbody>
</table>
@*}*@
<div>
    @Html.AjaxPager(Model, new PagerOptions() { PageIndexParameterName = "PageIndex", ShowTotalItemCount = true},
                                     new AjaxOptions { UpdateTargetId = "userDvOrder", LoadingElementId = "loadDiv" })
</div>