@using WMS.Common.Contract
@using WMS.Account.Contract

@model UserClassInfo
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
        .row {
            margin: 0px;
        }

        body {
            background-color: #fff;
        }

        .control-label {
            text-align: right;
        }
        .form-group {
            margin-bottom:5px;}
    </style>
}
@section PageSpecificJavascriptIncludes{
<script src="/Scripts/zj.select.common.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var eId = $("#EnterpriseId").val();
        if (eId != null && eId != "") {
            EnterpriseChange(eId, 'DepartmentId','@Model.DepartmentId');
            //$("#EnterpriseId").trigger('change');
        }
    });
    </script>
}

@section MainContent{

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class=" form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">登录账号:</label>
                    <div class="col-sm-9">
                        @if (Model.UserId == 0)
                        {
                            @Html.TextBoxFor(m => m.LoginAccount, new { @class = "col-xs-10 col-sm-5" })
                            <span class="help-inline">@Html.ValidationMessageFor(m => m.LoginAccount)</span>
                        }
                        else
                        {
                            <b class="col-xs-9 col-sm-5" style="line-height:30px;">@Model.LoginAccount</b>
                        }
                    </div>
                </div>
                @if (Model.UserId == 0)
                {
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">登录密码:</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Password, new { @class = "col-xs-10 col-sm-5", @type = "password" })
                            <span class="help-inline">默认密码123456</span>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">真实姓名:</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline">@Html.ValidationMessageFor(m => m.UserName)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">昵称:</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.NickName, new { @class = "col-xs-10 col-sm-5" })
                        <span class="help-inline">@Html.ValidationMessageFor(m => m.NickName)</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">手机号码:</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.Mobile, new { @class = "col-xs-10 col-sm-5" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属企业:</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.EnterpriseId, (SelectList)ViewData["dllEnterprise"], "  ", new { @class = "col-xs-10 col-sm-5", @onchange = "EnterpriseChange(this.value,'DepartmentId');" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">所属部门</label>
                    <div class="col-sm-9">
                        <select style="width:auto;" class="col-xs-10 col-sm-5" id="DepartmentId" name="DepartmentId">
                            <option selected="selected" value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">行政级别:</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.ManageLevel, (SelectList)ViewData["dllManageLevel"], "  ", new { @class = "col-xs-10 col-sm-5" })
                    </div>
                </div>
                <div class="alert alert-block alert-success" style="font-size:12px; padding-left:10%;">
                    <i class="icon-bullhorn bigger-120 blue"></i> 企业级管理员：可查看所有数据<br />
                    <i class="icon-bell bigger-120 blue"></i> 部长级：可查看部门内所有数据<br />
                    <i class="icon-bell-alt bigger-120 blue"></i> 主任级：部门下级小部门（组），可查看组内所有数据<br />
                    <i class="icon-bell bigger-120 blue"></i> 员工级：只能查看自己的数据和公开数据
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 center">
            <span class="profile-picture">
                <img id="avatar" class="editable img-responsive editable-click editable-empty" alt="@Model.UserName" src="@(!String.IsNullOrEmpty(Model.ImgUrl)?Model.ImgUrl:"/assets/avatars/profile-pic.jpg")" />
            </span>
        </div>
    </div>
}